{% extends "profile_presenter/base.html" %}
{% load staticfiles %}
{% block title %} Error {% endblock %}
{% block content %}  
<a name="stats"></a>
    <section class="container content-section text-center stats">
    <div class="row">                       
        <p class="col-sm-12">Please check credentials entered. Could not fetch data</p>
        <span>
            <a href="{% url 'home' %}" class="btn btn-danger btn-lg">Back to Home</a>
        </span> 
    </div>                                                             
    </section>
{% endblock %} 