.git-sample{;
	margin-left: 15%;
	height:300px;
	width:300px;
}
.charts{
	margin:10% 3%;
}
.stats{
	margin:10% 0%;
}
.card{
	margin-top:5%;
	padding:3% 0%;
	background-color:#FBFBFB;
}
.card1{
	padding:10% 0%;
	margin-top:5%;
	background-color:#FBFBFB;
}
.list-box{
	margin-bottom:5%;
}
.my-item{
    font-weight:normal;
    color:black;
}​

